# Игнорировать папку node_modules
node_modules/

# Игнорировать папку сборки (например, dist или build)
dist/
build/

# Игнорировать файлы конфигурации
.eslintignore
.prettierignore
.stylelintignore
.editorconfig

# Игнорировать файлы, связанные с зависимостями
package-lock.json
yarn.lock
pnpm-lock.yaml

# Игнорировать автоматически сгенерированные файлы
*.log
*.min.*

# Игнорировать специфичные файлы (например, сгенерированные шаблоны)
**/generated/

# Игнорировать файлы, которые не нужно форматировать
**/*.md
**/*.html
